aclocal.m4
config.h.in
configure
config.status
missing
config.h
config.log
install-sh
depcomp
stamp-h1
compile
autom4te.cache
Makefile
Makefile.in
src/factorial.o
src/hello.o
src/main.o
src/Makefile.in
src/Makefile
src/yoctohelloworld
src/.deps
